@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oxygen&display=swap');

@media (prefers-color-scheme: dark) {
    .header {
        background: #121212;
        color: #ffffff;
    }

    body {
        background: #121212;
        color: #ffffff;
    }

    ::selection {
        background: #555050;
        color: #29b6f6;
    }

    .footer {
        background: #121212;
        color: #ffffff;
    }
}

.header {
    padding: 5px;
    text-align: center;
    font-family: 'Oxygen', sans-serif;
    font-size: 18px;
}

::selection {
    background: darkgray;
    color: #90caf9;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

#headerBlurb {
    font-family: 'Montserrat', sans-serif;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}
